<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestExcelProject.Properties.Settings.StandardTradingConnectionString"
            connectionString="Data Source=.;Initial Catalog=StandardTrading;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>